@import url(../feynman/__title/feynman__title.css);
@import url(../feynman/__subtitle/feynman__subtitle.css);
@import url(../feynman/__link/feynman__link.css);

.feynman {
  min-height: 890px;
  padding-top: 100px;
  background-color: #f2f2f2;
  background-image: url(../../images/feynman.png);
  background-size: 867px 637px;
  box-sizing: border-box;
  background-position: left bottom;
  position: relative;
  background-repeat: no-repeat;
}
