.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #f2f2f2;
  z-index: 1;
}

.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 3;
}

.header__title {
  position: relative;
  width: 730px;
  left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600px;
  z-index: 3;
}

.header__subtitle {
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
  width: 388px;
  bottom: 30px;
  left: 64px;
  line-height: 25px;
  font-size: 18px;
  z-index: 2;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
  opacity: 1;
}

.header__link:hover {
  color: #000000;
  opacity: .3;
  transition: cubic-bezier(0,0,1,1);
}

.header__main-illustration {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 765px;
  height: 608px;
  z-index: 1;
}

.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  top: 64px;
  right:0px;
  background-color: #2f80ed;
}

.description {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 100px;
  width: 80%;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 30px 0;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
  margin: 30px 0 30px 0;
}

.section-title {
  display: flex;
  justify-content:center;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  margin: 0 auto 100px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1100px;
}

.table__cell {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 60px;
  width: 250px;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 0 0;
}

.feynman {
  min-height: 890px;
  padding-top: 100px;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-size: 867px 637px;
  box-sizing: border-box;
  background-position: left bottom;
  position: relative;
  background-repeat: no-repeat;
}

.feynman__title {
  margin: 0 auto;
  text-align: center;
  position: relative;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
}

.feynman__subtitle {
  margin: 0 auto;
  text-align: center;
  position: relative;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin-top: 70px;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
  opacity: 1;
}

.feynman__link:hover {
  color: #1f1f1f;
  opacity: .5;
  transition: linear;
}

.kaufman {
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
  padding-bottom: 90px;
  z-index: 1;
}

.section-title_theme_dark {
  color: #ffff;
  margin: 90px auto 20px auto;
  z-index: 1;
}

.section-subtitle_theme_dark {
  color: #ffff;
  z-index: 1;
}

.table_theme_dark {
  margin: auto;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  z-index: -1;
  top: 0;
}

.footer {
  min-height: 350px;
  display: flex;
  justify-content: center;
  background-color: #1f1f1f;
  color: #ffffff;
  box-sizing: border-box;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__columns {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  display: flex;
  justify-content: space-between;
  flex-basis: 711px;
  flex-direction: column;
}

.logo_place_footer {
  display: flex;
}

.footer__author {
  margin: 18px 0 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content_info {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: auto;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  margin: 20px 0 16px 0;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: #ffffff;
  opacity: 1;
}

.footer__column-link:hover {
  opacity: .5;
  transition: cubic-bezier(0,0,1,1);
}

.footer__columns_content_social {
  width: auto;
  flex-direction: column;
  justify-content: flex-start;
}

.footer__social-links {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
  opacity: 1;
}

.footer__social-links:hover {
  opacity: .5;
  transition: linear;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin: 0 10px 0 0;
}
